/* @import url('https://fonts.googleapis.com/css2?family=Sono&display=swap'); */

body {
    margin: 0;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
    color: rgb(114, 114, 114);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    padding: 20px;
    background: #F0F8FF;
    /* background: #111010; */
   
}
.btn {
    border: none;
    outline: none;
    background: #764abc;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 2rem;
}

.btn:hover {
    background: #513282;
}

.heading {
    padding: 25px 0;
}

/* CSS */
/* .button-28 {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: 'Sono', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.button-28:disabled {
  pointer-events: none;
}

.button-28:hover {
  color: #fff;
  background-color: rgb(6, 108, 100);;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-28:active {
  box-shadow: none;
  transform: translateY(0);
} */
